<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
     data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle">
    <%= image_tag("donatio-logo.png", class: "brand-img", alt: "Donatio", style: "width:370px;padding-bottom:50px;") %>
    <div class="panel">
      <div class="panel-body">
        <div class="brand">
          <!--logo was here-->
          <!--<h2 class="brand-text font-size-18">Donatio</h2>-->
        </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group form-material floating">
            <%= f.email_field :email, class: 'form-control', autocomplete: 'off' %>
            <label class="floating-label">Email</label>
          </div>
          <div class="form-group form-material floating">
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off'  %>
            <label class="floating-label">Password</label>
          </div>

            <% if false %>
          <div class="form-group clearfix">
            <% if devise_mapping.rememberable? %>
            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
              <%= f.check_box :remember_me %>
              <label for="inputCheckbox">Remember me</label>
            </div>
            <!--<a class="pull-right" href="forgot-password.html">Forgot password?</a>-->
            <% end %>
          </div>
            <% end %>

          <%= f.submit 'Sign in', class: "btn btn-block btn-lg margin-top-40 btn-login", style: "color:#fff;" %>
        <% end %>
        <!--<p>&nbsp;</p>-->
      </div>
    </div>

    <footer class="page-copyright page-copyright-inverse">
      <% if false %>
          <p>WEBSITE BY amazingSurge</p>
          <p>© 2015. All RIGHT RESERVED.</p>
      <% end %>
      <div class="social">
        <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-twitter" aria-hidden="true"></i>
        </a>
        <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-facebook" aria-hidden="true"></i>
        </a>
        <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-google-plus" aria-hidden="true"></i>
        </a>
      </div>
    </footer>
  </div>
</div>
