<div class="widget widget-shadow text-center">
  <div class="widget-header padding-bottom-0">
    <div class="widget-header-content">
      <h4 class="profile-user"><%= project.title %></h4>
      <p><%= project.description %></p>
      <p class="profile-job"> <%= project.contact_details %> </p>
      <!--
      <p>&nbsp;</p>

      <div class="row no-space">
        <div class="col-xs-6">
          <strong class="profile-stat-count"><%#= project.agents.count %></strong>
          <span> <%#= 'Agent'.pluralize(project.agents.count) %> </span>
        </div>
        <div class="col-xs-6">
          <strong class="profile-stat-count">
            <%#= project.contributions_total.format(symbol: true) %>
          </strong>
          <span>Received</span>
        </div>
      </div>
      -->

    </div>
  </div>

  <div class="widget-body" style="padding:0">
    <div class="row no-space">
      <table class="table table-hover font-size-14">
        <tbody>
        <tr>
          <td class="text-right">Collectors</td>
          <td class="text-left"><%= project.agents.count %> </td>
        </tr>
        <tr>
          <td class="text-right">Cash</td>
          <td class="text-left"><%= project.total_cash_received.format(symbol: true) %></td>
        </tr>
        <tr>
          <td class="text-right">Cheques</td>
          <td class="text-left"><%= project.total_cheques_received.format(symbol: true) %></td>
        </tr>
        <tr>
          <td class="text-right">Gifts</td>
          <td class="text-left"><%= project.total_gifts_received %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="widget-footer">
    <div class="row no-space">
      <div class="col-xs-4">
        <% if project.draft? || project.complete? %>
            <%= link_to "<i class='icon wb-play' aria-hidden='true'></i>".html_safe,
                        project_path(project, project: { status: 'live'}),
                        method: :put,
                        confirm: 'Are you sure?',
                        class: "btn btn-icon btn-success btn-outline btn-round"
            %>
        <% end %>
        <% if project.live? %>
            <%= link_to "<i class='icon wb-stop' aria-hidden='true'></i>".html_safe,
                        project_path(project, project: { status: 'complete'}),
                        method: :put,
                        confirm: 'Are you sure?',
                        class: "btn btn-icon btn-warning btn-outline btn-round"
            %>
        <% end  %>
      </div>

      <% if project.draft? %>
      <div class="col-xs-4">
        <%= link_to "<i class='icon wb-edit' aria-hidden='true'></i>".html_safe,
                    edit_project_path(project),
                    class: "btn btn-icon btn-primary btn-outline btn-round"
        %>
      </div>
      <% end %>

      <% if project.draft? || project.complete? %>
      <div class="col-xs-4">
        <%= link_to "<i class='icon wb-trash' aria-hidden='true'></i>".html_safe,
                    project_path(project),
                    method: :delete,
                    confirm: 'Are you sure?',
                    class: "btn btn-icon btn-danger btn-outline btn-round"
        %>
      </div>
      <% end %>
    </div>
  </div>
</div>
