<div class="panel-heading">
  <%= render partial: 'portal/form_buttons',
             locals: { f: f, back_url: back_url} %>
  <h3 class="panel-title"><%= action %> project</h3>
</div>

<div class="panel-body">
  <div class="row row-lg  padding-top-15">
    <div class="col-sm-12 col-md-6 padding-right-0">
      <div class="example-wrap">
        <h4 class="example-title">Event Details</h4>
        <p> Details concerning the project event </p>
        <div class="example">
          <%= f.fields_for :event_spec do |e| %>
              <div class="form-group">
                <label class="col-sm-4 control-label">Contact Name: </label>
                <div class="col-sm-8">
                  <%= e.text_field :contact_name, class: "form-control",
                                   placeholder: "Name of primary contact", autocomplete: "off" %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Contact Phone: </label>
                <div class="col-sm-8">
                  <%= e.text_field :contact_phone, class: "form-control", placeholder: "Phone number of primary contact", autocomplete: "off" %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Time & Date: </label>
                <div class="col-sm-8">
                  <%= e.text_field :occurs_at, class: 'form-control', data: { plugin: 'formatter',
                                                                              pattern: '[[99]]: [[99]] [[99]]/[[99]]/[[9999]]'} %>
                  <p class="help-block">00: 00 31/12/2015</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Location: </label>
                <div class="col-sm-8">
                  <%= e.text_field :location, class: "form-control", placeholder:"Where will the event take place", autocomplete: "off" %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Notes: </label>
                <div class="col-sm-8">
                  <%= e.text_area :notes, class: "form-control", placeholder: 'Important info to remember' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-6 padding-left-0">
      <div class="example-wrap">
        <h4 class="example-title">Project Settings</h4>
        <p> Custom settings for project </p>
        <div class="example">
          <div class="form-group">
            <label class="col-sm-4 control-label">Title: </label>
            <div class="col-sm-7">
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Description: </label>
            <div class="col-sm-7">
              <%= f.text_area :description, class: 'form-control' %>
            </div>
          </div>
          <br>
          <%= f.fields_for :tech_spec do |t| %>
              <div class="form-group">
                <label class="col-sm-4 control-label">Receipt Sender: </label>
                <div class="col-sm-7">
                  <%= t.text_field :receipt_sender_address,
                                   class: 'form-control',
                                   data: {
                                       plugin: 'formatter',
                                       pattern: '[[aaaaaaaaaaa]]'
                                   }
                  %>
                  <p class="help-block">Not more than 11 characters</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Receipt Template: </label>
                <div class="col-sm-7">
                  <%= t.text_area :receipt_template_str, class: 'form-control' %>
                  <p class="help-block">
                    Compose a template using listed tags eg. <br>
                    <i>
                      Dear %Contributor, %NewLine
                      Your donation of %Currency %Amount has been received.
                      %NewLine Thank you very much.
                    </i>

                    <br>
                    <table class="help-block tags">
                      <tr>
                        <td style="width:40%">%ContributorName </td>
                        <td style="width:60%">Name of donor</td>
                      </tr>
                      <tr>
                        <td style="width:40%">%Amount </td>
                        <td style="width:60%">Value of amount donated</td>
                      </tr>
                      <tr>
                        <td style="width:40%">%Currency</td>
                        <td style="width:60%">Currency of amount donated</td>
                      </tr>
                      <tr>
                        <td style="width:40%">%NewLine</td>
                        <td style="width:60%">Insert blank line</td>
                      </tr>
                    </table>

                  </p>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

