<% if projects.present? %>
<ul class="list-group">
  <% projects.each do |project| %>
  <li class="list-group-item">
    <div class="media">
      <div class="media-body">
        <div class="pull-left">
          <h4 class="media-heading">
            <%= link_to project.title, project, style: 'font-weight:100' %>
            <!--<small>Last Access: 2 hours ago</small>-->
          </h4>
          <p class="margin-top-15">
            <%= project.description %>
          </p>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<%#= render 'portal/projects/pager'  %>
<% else %>
<%= render partial: 'portal/empty', locals: { message: 'No events' } %>
<% end %>
