<nav>
  <ul class="pagination pagination-no-border">
    <li>
      <a href="javascript:void(0)" aria-label="Previous">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="javascript:void(0)">2</a></li>
    <li><a href="javascript:void(0)">3</a></li>
    <li><a href="javascript:void(0)">4</a></li>
    <li><a href="javascript:void(0)">5</a></li>
    <li>
      <a href="javascript:void(0)" aria-label="Next">
        <span aria-hidden="true">»</span>
      </a>
    </li>
  </ul>
</nav>
