<% content_for :page_class do  %>
    page-profile
<% end %>

<% content_for :styles do  %>
    .form-group {
    min-height: 4em;
    }
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'portal/projects/details',
               locals: { project: @project }
    %>
  </div>

  <div class="col-md-9">
    <div class="panel min-height-650">
      <%= form_for @project, class: "form-horizontal" do |f| %>
          <%= render partial: 'portal/projects/form',
                     locals: {
                         f: f,
                         action: 'Edit',
                         back_url: project_path(@project)
                     }
          %>
      <% end %>
    </div>
  </div>
</div>