<% content_for :page_class do  %>
    page-user
<% end %>


<div class="panel min-height-650">
  <div class="panel-heading">
    <div class="panel-actions">
      <%= link_to "<i class='icon wb-plus' aria-hidden='true'></i>".html_safe,
                  new_project_path,
                  class: 'btn btn-icon btn-success btn-sm btn-outline btn-round' %>
    </div>
    <div class="panel-actions margin-right-50">
      <div class="input-search input-group-sm">
        <button type="submit" class="input-search-btn">
          <i class="icon wb-search" aria-hidden="true"></i>
        </button>
        <input type="text" class="form-control" name="" placeholder="Search...">
      </div>
    </div>
    <h3 class="panel-title">Events</h3>
  </div>

  <div class="panel-body">

    <div class="nav-tabs-horizontal">
      <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a data-toggle="tab" href="#draft" aria-controls="draft" role="tab" aria-expanded="false">
            Draft
          </a>
        </li>
        <li class="" role="presentation">
          <a data-toggle="tab" href="#live" aria-controls="live" role="tab" aria-expanded="true">
            Live
          </a>
        </li>
        <li role="presentation" class="">
          <a data-toggle="tab" href="#complete" aria-controls="complete" role="tab" aria-expanded="false">
            Completed
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane animation-fade" id="live" role="tabpanel">
          <%# if @projects.on_going.present? %>
              <%= render partial: 'portal/projects/list',
                         locals: { projects: @projects.on_going } %>
              <%#= render 'portal/projects/pager'  %>
          <%# else %>
                <%#= render partial: 'portal/empty', locals: { message: 'No on-going events' } %>
          <%# end %>

        </div>

        <div class="tab-pane animation-fade active" id="draft" role="tabpanel">
          <%# if @projects.drafts.present? %>
              <%= render partial: 'portal/projects/list',
                         locals: { projects: @projects.drafts } %>
              <%#= render 'portal/projects/pager'  %>
          <%# else %>
              <%#= render partial: 'portal/empty', locals: { message: 'No draft events' } %>
          <%# end %>
        </div>

        <div class="tab-pane animation-fade" id="complete" role="tabpanel">
          <%# if @projects.completed.present? %>
              <%= render partial: 'portal/projects/list',
                         locals: { projects: @projects.completed } %>
              <%#= render 'portal/projects/pager'  %>
          <%# else %>
              <%#= render partial: 'portal/empty', locals: { message: 'No completed events' } %>
          <%# end %>
        </div>
      </div>
    </div>

  </div>
</div>