<% content_for :page_class do  %>
    page-profile
<% end %>

<% content_for :styles do  %>
    .form-group {
    min-height: 4em;
    }
<% end %>

<div class="panel">
  <%= form_for @project, class: "form-horizontal" do |f| %>
      <%= render partial: 'portal/projects/form',
                 locals: {
                     f: f,
                     action: 'New',
                     back_url: projects_path
                 }
      %>
  <% end %>
</div>
