<% content_for :page_class do  %>
    page-profile
<% end %>

<% content_for :styles do  %>
    .form-group {
        min-height: 4em;
    }
    .table a {
        text-decoration: none;
    }
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'portal/projects/details',
               locals: { project: @project }
    %>
  </div>

  <div class="col-md-9">
    <!-- Panel -->
    <div class="panel min-height-650">
      <div class="panel-body nav-tabs-animate">
        <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a data-toggle="tab" href="#details" aria-controls="activities" role="tab" aria-expanded="false">
              Details </a></li>
          <li role="presentation" class="">
            <a data-toggle="tab" href="#agents" aria-controls="agents" role="tab" aria-expanded="false">
              Collectors</a></li>
          <li role="presentation">
            <a data-toggle="tab" href="#activity" aria-controls="activity" role="tab" aria-expanded="false">
              Activity</a></li>
        </ul>

        <div class="tab-content">

          <!-- details -->
          <div class="tab-pane animation-slide-left active padding-25" id="details" role="tabpanel">


                <div class="row">
                  <div class="col-sm-6">
                    <h4 class="example-title">Event Details</h4>
                    <br>
                    <div class="form-group">
                      <h5 class="control-label">Contact Name</h5>
                      <p> <%= @project.contact_name %></p>
                    </div>
                    <div class="form-group">
                      <h5 class="control-label">Contact Phone</h5>
                      <p> <%= @project.contact_phone %></p>
                    </div>
                    <div class="form-group">
                      <h5 class="control-label">Time & Date</h5>
                      <p> <% @project.time_and_date %></p>
                    </div>
                    <div class="form-group">
                      <h5 class="control-label">Location</h5>
                      <p> <%= @project.location %></p>
                    </div>
                    <div class="form-group">
                      <h5 class="control-label">Notes</h5>
                      <p>
                        <%= @project.notes %>
                      </p>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <h4 class="example-title">Project Settings</h4>
                    <br>
                    <div class="form-group">
                      <h5 class="control-label">Receipt Sender</h5>
                      <p> <%= @project.receipt_sender_address %> </p>
                    </div>
                    <div class="form-group">
                      <h5 class="control-label">Receipt Template</h5>
                      <p> <%= @project.receipt_template %> </p>
                    </div>
                  </div>

                </div>

          </div>

          <!-- agents -->
          <div class="tab-pane animation-slide-left" id="agents" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                  <div class="btn-toolbar pull-right" aria-label="Toolbar with button groups" role="toolbar">
                    <div class="btn-group" role="group">

                      <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                              data-original-title="Download Report"
                              data-target="#assign-agent-modal" data-toggle="modal">
                        <i class="icon wb-link" aria-hidden="true"></i> </button>
                    </div>
                  </div>
                </div>
            </div>

            <% if @project.project_assignments.present? %>
                <table class="table">
                  <thead>
                  <tr>
                    <th style="width:90%">Name</th>
                    <th style="width:10%">Manage</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @project.project_assignments.each do |assignment| %>
                  <tr>
                    <td><%= link_to assignment.agent.decorate.full_name, assignment.agent %></td>
                    <td class="text-right">
                      <%= link_to "<i class='icon wb-link-broken red-600'></i>".html_safe,
                                  project_assignment_path(assignment),
                                  method: :delete,
                                  title: 'Un-assign agent',
                                  confirm: 'Are you sure?'
                      %>
                    </td>
                  </tr>
                  <% end %>
                  </tbody>
                </table>
            <% else %>
                <%= render partial: 'portal/empty',
                           locals: { message: 'No collectors assigned' } %>
            <% end %>
          </div>

          <!-- activity -->
          <div class="tab-pane animation-slide-left" id="activity" role="tabpanel">
            <div class="row">
              <div class="col-md-12">
                <div class="panel">
                  <div class="btn-toolbar pull-right" aria-label="Toolbar with button groups" role="toolbar">
                    <div class="btn-group" role="group">

                      <!--<button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="Download Report">-->
                        <!--<i class="icon wb-download" aria-hidden="true"></i>-->
                      <!--</button>-->
                      <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="Download Report">
                      <%= link_to "<i class='icon wb-download'></i>".html_safe,
                                  project_reports_path(project_id: @project.id, format: 'csv'),
                                  method: :post,
                                  title: 'Download Report'
                      %>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="panel-group panel-group-continuous" id="exampleAccordionContinuous" aria-multiselectable="true" role="tablist">

                  <% if @project.contributions.present? %>
                      <% @project.contributions.group_by(&:agent).each do |agent, contributions| %>

                          <% id = agent.id %>

                          <div class="panel">
                            <div class="panel-heading" id="exampleHeadingContinuousOne" role="tab">
                              <a class="panel-title" data-parent="#exampleAccordionContinuous"
                                 data-toggle="collapse"
                                 href="#<%= id %>"
                                 aria-controls="exampleCollapseContinuousOne"
                                 aria-expanded="false">
                                <div class="row">
                                  <div class="col-xs-4"> <%= agent.decorate.full_name %> </div>

                                  <div class="col-xs-8">
                                    <% gift_count = contributions.select{|c|c.gift?}.count %>
                                    <% if gift_count > 0 %>
                                    <span class="label label-primary margin-right-10 label-round label-outline">
                                    Gifts: <%= gift_count %>
                                    </span>
                                    <% end %>

                                    <% cash = contributions.select{|c| c.cash?}.sum(&:amount) %>
                                    <% if cash > 0.to_money %>
                                    <span class="label label-success margin-right-10 label-round label-outline">
                                        Cash: <%= cash.format(symbol: true) %>
                                      </span>
                                    <% end %>

                                    <% cheque = contributions.select{|c| c.cheque?}.sum(&:amount) %>
                                    <% if cheque > 0.to_money %>
                                    <span class="label label-info label-round label-outline">
                                        Cheques: <%= cheque.format(symbol: true) %>
                                    </span>
                                    <% end %>
                                  </div>

                                </div>
                                <div class="clearfix"> </div>
                              </a>
                            </div>
                            <div class="panel-collapse collapse padding-horizontal-20"
                                 style="background:#f6f9fd;"
                                 id="<%= id %>" aria-labelledby="exampleHeadingContinuousOne" role="tabpanel" aria-expanded="false">
                              <table class="table" style="background:#f6f9fd;">
                                <thead>
                                <tr>
                                  <th style="width:45%" class="text-left">From</th>
                                  <th style="width:10%" class="text-center">Type</th>
                                  <th style="width:20%" class="text-right">Value</th>
                                  <th style="width:10%" class="text-nowrap"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% contributions.sort_by { |c| -c.received_at.to_i }.each do |contribution| %>
                                    <tr>
                                      <td class="text-left"><%= contribution.name %></td>
                                      <td class="text-center">
                                        <%= contribution_type_tag(contribution) %>
                                      </td>
                                      <td class="text-right">
                                        <%= contribution.amount.format(symbol: false) unless contribution.gift? %>
                                      </td>
                                      <td class="text-nowrap">
                                        <!--
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="Edit">
                                          <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="Delete">
                                          <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                        -->
                                      </td>
                                    </tr>
                                <% end %>
                                </tbody>
                              </table>
                            </div>
                          </div>

                      <% end %>
                  <% else %>
                  <%= render partial: 'portal/empty',
                             locals: { message: 'No donations received' } %>
                  <% end %>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-3d-sign modal-primary" id="assign-agent-modal" aria-hidden="true" aria-labelledby="assign-agent-modal" role="dialog" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Assign Collectors</h4>
      </div>

      <% if  @available_agents.present? %>
          <%= form_tag project_assignments_path do  %>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">

                <!-- Example Table Selectable -->
                <div class="example-wrap">
                  <h4 class="example-title">Available Collectors</h4>
                  <div class="example">
                    <table class="table table-hover" data-selectable="selectable" data-row-selectable="true">
                      <thead>
                      <tr>
                        <th class="hidden-xs">
                          Name
                        </th>
                        <th class="width-50">
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @available_agents.each do |agent| %>
                          <tr class="">
                            <td><%= agent.decorate.full_name %></td>
                            <td>
                          <span class="checkbox-custom checkbox-primary">
                            <%#= check_box_tag 'agent_ids[]', agent.id, nil, class: 'selectable-item' %>

<!--<input class="selectable-item" type="checkbox" id="row-619" value="619">-->
<!--<label for="row-619"></label>-->

<input class="selectable-item" id="row-<%= agent.id %>" name="agent_ids[]" type="checkbox" value="<%= agent.id %>">
<label for="row-<%= agent.id %>"></label>


                          </span>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- End Example Table Selectable -->

                <%= hidden_field_tag :project_id, @project.id  %>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close</button>
            <!--<button type="button" class="btn btn-primary">Save</button>-->
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
          <% end %>
      <% else %>
          <%= render partial: 'portal/empty',
                     locals: { message: 'No collectors available presently' } %>

      <% end %>

    </div>
  </div>
</div>
