<div class="widget widget-shadow text-center">
  <div class="widget-header">
    <div class="widget-header-content">
      <h4 class="profile-user"><%= agent.full_name %></h4>
      <p><%#= project.description %></p>
      <p class="profile-job"> <%= agent.msisdn %> </p>
      <p>&nbsp;</p>
      <div class="row no-space">
        <div class="col-xs-6">
          <strong class="profile-stat-count"><%= agent.projects.count %></strong>
          <span><%= 'Project'.pluralize(agent.projects.count) %></span>
        </div>
        <div class="col-xs-6">
          <strong class="profile-stat-count">
            <%= agent.total_collected.format(symbol: true) %>
          </strong>
          <span>Collected</span>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-footer">
    <div class="row no-space">
      <div class="col-xs-6">
        <%= link_to "<i class='icon wb-edit' aria-hidden='true'></i>".html_safe,
                    edit_agent_path(agent),
                    class: "btn btn-icon btn-primary btn-outline btn-round"
        %>
      </div>
      <div class="col-xs-6">
        <%= link_to "<i class='icon wb-trash' aria-hidden='true'></i>".html_safe,
                    agent_path(agent),
                    method: :delete,
                    confirm: 'Are you sure?',
                    class: "btn btn-icon btn-danger btn-outline btn-round"
        %>
      </div>
    </div>
  </div>
</div>
