<div class="panel-heading">
  <%= render partial: 'portal/form_buttons', locals: { f: f }
  %>
  <h3 class="panel-title"><%= action %> collector</h3>
</div>

<div class="panel-body form-horizontal">
  <div class="row margin-vertical-10">
    <div class="col-md-2">
    </div>
    <div class="col-sm-12 col-md-8 margin-vertical-10">

        <div class="form-group">
          <label class="col-sm-3 control-label">First Name: </label>
          <div class="col-sm-9">
            <%= f.text_field :first_name,
                             class: 'form-control',
                             autocomplete: 'off',
                              data: {
                                  'fv-notempty' => true,
                                  'fv-notempty-message' => 'Please enter a first name'
                              }
            %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Last Name: </label>
          <div class="col-sm-9">
            <%= f.text_field :last_name, class: 'form-control', autocomplete: 'off' %>
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Phone: </label>
        <div class="col-sm-9">
          <%= f.text_field :msisdn, class: 'form-control', autocomplete: 'off' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Login</label>
        <div class="col-sm-9">
          <%= f.text_field :login,
                           class: 'form-control',
                           autocomplete: 'off',
                           data: {
                               'fv-notempty' => true,
                               'fv-notempty-message' => 'A user login is required'
                           }
          %>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-3 control-label">PIN: </label>
        <% if f.object.new_record? %>
            <div class="col-sm-3">
              <%= f.text_field :password,
                               class: 'form-control',
                               autocomplete: 'off'
                               # data: {
                               #         plugin: 'formatter',
                               #         pattern: ' [[9999]]'
                               # }
              %>
              </div>
              <p class="help-block">Leave blank to set to default (1234)</p>
        <% else %>
              <%= link_to "Reset PIN to 1234", "#", style: 'position:relative;top:7px;' %>
        <% end %>
      </div>

    </div>
    <div class="col-md-2">
    </div>
  </div>

</div>
