<% content_for :page_class do  %>
    page-user
<% end %>

<div class="panel">
  <%= form_for @agent, class: 'form-horizontal' do |f| %>
      <%= render partial: 'portal/agents/form',
                 locals: { f: f, action: 'Edit' }%>
  <% end %>
</div>
