
<% content_for :page_class do  %>
    page-user
<% end %>

<% content_for :styles do  %>
<% end %>


<div class="panel min-height-650">
  <div class="panel-heading">
    <div class="panel-actions">
      <%= link_to "<i class='icon wb-plus' aria-hidden='true'></i>".html_safe,
                  new_agent_path,
                  class: 'btn btn-icon btn-success btn-sm btn-outline btn-round' %>
    </div>
    <div class="panel-actions margin-right-50">
      <div class="input-search input-group-sm">
        <button type="submit" class="input-search-btn">
          <i class="icon wb-search" aria-hidden="true"></i>
        </button>
        <input type="text" class="form-control" name="" placeholder="Search...">
      </div>
    </div>
    <h3 class="panel-title">Collectors</h3>
  </div>


      <div class="panel-body">
        <div class="tab-content margin-vertical-10" style="border-top:solid 1px #e4eaec;">

          <% if @agents.present? %>
          <ul class="list-group">
            <% @agents.each do |agent| %>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-body">
                      <div class="pull-left">
                        <h4 class="media-heading">
                          <%= link_to agent.full_name, agent, style: 'font-weight:100' %>
                          <!--<small>Last Access: 2 hours ago</small>-->
                        </h4>
                        <p class="margin-top-15">
                          <i class="icon icon-color wb-mobile" aria-hidden="true"></i>
                          <%= agent.msisdn %>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
          <% else %>
              <%= render partial: 'portal/empty', locals: { message: 'No collectors added' } %>
          <% end %>
        </div>
      </div>
</div>