<% content_for :page_class do  %>
    page-profile
<% end %>

<% content_for :styles do  %>
    .form-group {
    min-height: 4em;
    }
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'portal/agents/details',
               locals: { agent: @agent }
    %>
  </div>

  <div class="col-md-9">
    <!-- Panel -->
    <div class="panel min-height-650">
      <div class="panel-body nav-tabs-animate">
        <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a data-toggle="tab" href="#details" aria-controls="activities" role="tab" aria-expanded="false">
              Projects </a></li>
          <!--
          <li role="presentation" class="">
            <a data-toggle="tab" href="#agents" aria-controls="agents" role="tab" aria-expanded="false">
              Agents</a></li>
          <li role="presentation">
            <a data-toggle="tab" href="#activity" aria-controls="activity" role="tab" aria-expanded="false">
              Activity</a></li>
          -->
        </ul>

        <div class="tab-content">

          <!-- details -->
          <div class="tab-pane animation-slide-left active" id="details" role="tabpanel">

            <% if @agent.projects.present? %>
                <%= render partial: 'portal/projects/list',
                           locals: { projects: @agent.projects } %>
                <%#= render 'portal/projects/pager'  %>
            <% else %>
                <%= render partial: 'portal/empty', locals: { message: 'No assigned projects' } %>
            <% end %>

          </div>

          <!--
          <div class="tab-pane animation-slide-left" id="agents" role="tabpanel">
          </div>

          <div class="tab-pane animation-slide-left" id="activity" role="tabpanel">
          </div>
          -->

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-3d-sign modal-primary" id="exampleModalPrimary" aria-hidden="true" aria-labelledby="exampleModalPrimary" role="dialog" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Assign Collectors</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2"> </div>
          <div class="col-md-8">list available agents here </div>
          <div class="col-md-2"> </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
