<% if flash[:success].present? %>
    alertify.success('<%= flash[:success] %>');
<% end %>

<% if flash[:notice].present? %>
    alertify.success('<%= flash[:notice] %>');
<% end %>

<% if flash[:error].present? %>
    alertify.error('<%= flash[:error] %>');
<% end %>

<% if flash[:alert].present? %>
    alertify.error('<%= flash[:alert] %>');
<% end %>

