<div class="panel-actions">
  <%= f.button "<i class='icon wb-check' aria-hidden='true'></i>".html_safe,
               class: "btn btn-icon btn-primary btn-sm btn-outline btn-round margin-horizontal-10"
  %>
  <%= link_to "<i class='icon wb-close' aria-hidden='true'></i>".html_safe,
              back_url,
              class: "btn btn-icon btn-danger btn-sm btn-outline btn-round margin-horizontal-10"
  %>
</div>
