<div class="col-xlg-4 col-md-12" style="">
  <div class="row height-full">
    <div class="col-xlg-12 col-md-6" style="height:50%;">
      <!-- Widget Linepoint -->
      <div class="widget widget-shadow bg-blue-600 white" id="widgetLinepoint">
        <div class="widget-content">
          <div class="padding-top-25 padding-horizontal-30">
            <div class="row no-space">
              <div class="col-xs-6">
                <p>Projects</p>
                <p class="blue-200">3 On-going</p>
              </div>
              <div class="col-xs-6 text-right">
                <p class="font-size-30 text-nowrap">10</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End Widget Linepoint -->
    </div>
    <div class="col-xlg-12 col-md-6" style="height:50%;">
      <!-- Widget Sale Bar -->
      <div class="widget widget-shadow bg-purple-600 white" id="widgetSaleBar">
        <div class="widget-content">
          <div class="padding-top-25 padding-horizontal-30">
            <div class="row no-space">
              <div class="col-xs-6">
                <p>Agents</p>
                <p class="purple-200">3 Depoyed</p>
              </div>
              <div class="col-xs-6 text-right">
                <p class="font-size-30 text-nowrap">5</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End Widget Sale Bar -->
    </div>
  </div>
</div>

<div class="row" data-plugin="matchHeight" data-by-row="true">
  <div class="col-lg-4 col-md-6" style="height: 427px;">
    <!-- Panel Followers -->
    <div class="panel" id="followers">
      <div class="panel-heading">
        <h3 class="panel-title">
          Followers
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-group list-group-dividered list-group-full">
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a class="avatar avatar-online" href="javascript:void(0)">
                  <img src="../../assets/portraits/9.jpg" alt="">
                  <i></i>
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right">
                  <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                </div>
                <div>
                  <span>Willard Wood</span>
                </div>
                <small>@heavybutterfly920</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a class="avatar avatar-away" href="javascript:void(0)">
                  <img src="../../assets/portraits/10.jpg" alt="">
                  <i></i>
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right">
                  <button type="button" class="btn btn-success btn-default btn-sm"><i class="icon wb-check" aria-hidden="true"></i>Following</button>
                </div>
                <div>
                  <span>Ronnie Ellis</span>
                </div>
                <small>@kingronnie24</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a class="avatar avatar-busy" href="javascript:void(0)">
                  <img src="../../assets/portraits/11.jpg" alt="">
                  <i></i>
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right">
                  <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                </div>
                <div>
                  <span>Gwendolyn Wheeler</span>
                </div>
                <small>@perttygirl66</small>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a class="avatar avatar-off" href="javascript:void(0)">
                  <img src="../../assets/portraits/12.jpg" alt="">
                  <i></i>
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right">
                  <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                </div>
                <div>
                  <span>Daniel Russell</span>
                </div>
                <small>@danieltiger08</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Panel Followers -->
  </div>

  <div class="col-lg-4 col-md-6" style="height: 427px;">
    <!-- Panel Tickets -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Tickets</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group list-group-dividered list-group-full">
          <li class="list-group-item">
            <small class="label label-round label-info pull-right">Completed</small>
            <p>
              <span>Server unavaible</span>
              <span>[13060]</span>
            </p>
            <small>Opened by
              <a class="hightlight" href="javascript:void(0)">
                      <span class="avatar avatar-xs">
                        <img src="../../assets/portraits/1.jpg" alt="">
                      </span>
                <span>Herman Beck</span>
              </a>
              <time datetime="2015-07-01T08:55">2 hours ago</time>
            </small>
          </li>
          <li class="list-group-item">
            <small class="label label-round label-warning pull-right">Pendening</small>
            <p>
              <span>Mobile App Problem</span>
              <span>[13061]</span>
            </p>
            <small>Opened by
              <a class="hightlight" href="javascript:void(0)">
                      <span class="avatar avatar-xs">
                        <img src="../../assets/portraits/2.jpg" alt="">
                      </span>
                <span>Mary Adams</span>
              </a>
              <time datetime="2015-07-01T07:55">1 hour ago</time>
            </small>
          </li>
          <li class="list-group-item">
            <small class="label label-round label-primary pull-right">In progress</small>
            <p>
              <span>IE8 problem</span>
              <span>[13062]</span>
            </p>
            <small>Opened by
              <a class="hightlight" href="javascript:void(0)">
                      <span class="avatar avatar-xs">
                        <img src="../../assets/portraits/3.jpg" alt="">
                      </span>
                <span>Caleb Richards</span>
              </a>
              <time datetime="2015-06-28T21:05">3 days ago</time>
            </small>
          </li>
          <li class="list-group-item">
            <small class="label label-round label-danger pull-right">Rejected</small>
            <p>
              <span>Respoonsive problem</span>
              <span>[13063]</span>
            </p>
            <small>Opened by
              <a class="hightlight" href="javascript:void(0)">
                      <span class="avatar avatar-xs">
                        <img src="../../assets/portraits/4.jpg" alt="">
                      </span>
                <span>June Lane</span>
              </a>
              <time datetime="2015-06-27T13:05">4 days ago</time>
            </small>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Panel Tickets -->
  </div>

  <div class="col-lg-4 col-md-12" style="">
    <!-- Panel Title -->
    <div class="widget widget-shadow" id="widgetGmap">
      <div class="map height-full" id="gmap" style="height: 0px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 278px; top: -96px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 22px; top: -96px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 534px; top: -96px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -234px; top: -96px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 790px; top: -96px;"></div></div></div></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=-12.043333,-77.028333&amp;z=15&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 0px; position: absolute; left: 310px; top: 5px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;"></div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 158px; bottom: 0px; width: 12px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="display: none;"></span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);"></div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@-12.043333,-77.028333,15z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint" draggable="false" controlwidth="28" controlheight="55" style="margin: 10px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 0px;"><div draggable="false" style="-webkit-user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 55px; background-color: rgb(255, 255, 255);"><div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; top: 0px; background-color: rgb(230, 230, 230);"></div><div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: -15px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 120px; height: 54px;"></div></div></div></div></div><div class="gmnoprint" draggable="false" controlwidth="0" controlheight="0" style="margin: 10px; -webkit-user-select: none; position: absolute; display: none; bottom: 14px; right: 0px;"><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; display: none; background-color: rgb(255, 255, 255);"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div class="gm-tilt" style="width: 0px; height: 0px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></div></div><div draggable="false" class="gm-style-cc" style="position: absolute; -webkit-user-select: none; height: 14px; line-height: 14px; right: 72px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><span>200 m&nbsp;</span><div style="position: relative; display: inline-block; height: 8px; bottom: -1px; width: 43px;"><div style="width: 100%; height: 4px; position: absolute; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"></div><div style="width: 4px; height: 8px; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"></div><div style="width: 4px; height: 8px; position: absolute; left: 0px; bottom: 0px; background-color: rgb(255, 255, 255);"></div><div style="position: absolute; height: 2px; left: 1px; bottom: 1px; right: 1px; background-color: rgb(102, 102, 102);"></div><div style="position: absolute; width: 2px; height: 6px; left: 1px; top: 1px; background-color: rgb(102, 102, 102);"></div><div style="width: 2px; height: 6px; position: absolute; bottom: 1px; right: 1px; background-color: rgb(102, 102, 102);"></div></div></div></div></div></div>
    </div>
    <!-- End Panel Title -->
  </div>
</div>

