<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">

  <title>Donatio</title>

  <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="../../assets/images/favicon.ico">

  <%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track' => true %>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

  <% if false # TODO: find these scripts %>
      <!--[if lt IE 9]>
      <script src="../assets/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
      <!--[if lt IE 10]>
      <script src="../assets/vendor/media-match/media.match.min.js"></script>
      <script src="../assets/vendor/respond/respond.min.js"></script>
      <![endif]-->
  <% end %>

  <%= javascript_include_tag 'vendor/modernizr/modernizr.min' %>
  <%= javascript_include_tag 'vendor/breakpoints/breakpoints.min' %>
  <script>
      Breakpoints();
  </script>
</head>
<body class="page-login-v3 layout-full">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page -->
<%= yield %>
<!-- End Page -->

<%= javascript_include_tag 'sessions', 'data-turbolinks-track' => true %>
<script>
    (function(document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function() {
            Site.run();
            <%= render partial: 'portal/flash_notifications' %>
        });
    })(document, window, jQuery);
</script>
</body>

</html>
